.Main{
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      to right, 
      white 0%,
      white 70%,
      #ffd600 70%,
      #ffd600 100%
    )
    }
    .Main img{
        width: 45%;
        margin-left: 50%;
        margin-top: -40%;
    }
    #wwu{
        margin-left: 3%;
        margin-top: 8%;
        color: #ffd600;
        word-spacing: 10px;
    }
    #ww{
        margin-left: 3%;
        margin-top: 2%;
        font-size: 350%;
        font-family: Bold;
    }
    #pr{
        margin-left: 3%;
        margin-top: 2%;
    }
    @media screen and (max-width: 1920px) {
        .Main img{margin-top:-20%;}
    }
    @media screen and (max-width: 1366px){
        .Main img{margin-top:-40%;}
        #wwu{font-size: 100%;}
        #ww{font-size: 250%;}
        #pr{font-size: 150%;}
    }
    @media screen and (max-width: 480px) {
        .Main img{display: none;}
        .Main{
            width: 100%;
            height: 90vh;
            margin-left: 5%;
            background: linear-gradient(
              to right, 
              white 0%,
              white 95%,
              #ffd600 95%,
              #ffd600 100%
            );
            margin-bottom: -100%;}
        #ww{font-size: 280%;}
    }
